
body{
    
    background: url(../imagens/img.portifolio2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-color: aqua;



}



h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    color: rgb(189, 189, 189);
    text-align: center;
    height: 80px;
}

.img{
    text-align: center;
    background-repeat: repeat;
    width: 100%;
}

#img_redonda{
    height: 150px;
    height: 150px;
    border-radius: 50%;
}

.header ul{
    height: 40px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    padding-top: 10px;
    background-color: rgb(10, 10, 46);
    text-decoration: none;


}

.header li{
    color:  rgb(10, 10, 46);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline;
    text-align: center;
    text-decoration: none;
    margin-left: 20%;
    background-color: rgb(32, 128, 128);
    height: 50px;
    border-radius: 60%;
}




.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: white;
    margin: 0%;


    
}

.meio{
    display: flex;
    flex-direction: row;


}

.mainleft{
    width: 25%;
    height: 80px;
    background-color: blueviolet;
    padding-left: 25%;


}


.footer{
    width: 100%;
    background-color: rgb(10, 10, 46);
}

.mainav{
    width: 100%;
    background-color: red;
    margin-left: 2%;
    margin-bottom: 10%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 110%;


}