
body{
    background: url(../imagens/img.portifolio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 150px;
    margin: 0%;
    height: 650px;

}

.img{
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
}

#img_redonda{
    height: 200px;
    border-radius: 50%;
    margin-top: 3%;
}

.header ul{
    height: 35px;
    width: 65%;
    font-size: 20px;
    list-style-type: none;
    margin-left: 13%;
    padding-top: 10px;
    padding-right: 100px;
    background-color: rgb(10, 10, 46);


}
 
.header{
    background-color:rgb(10, 10, 46);
    width: 70%;
    margin-left: 15%;
    justify-content: space-between;
}



.sublinhado{
    align-items: center;
    width: 70%;
    height: 100px;
    margin-left: 15%;
    height: 50px;
    padding-top: 5px;

}

.sublinhado, ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.header, li{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    list-style-type: none;
    padding: 0  20px;

}

header, li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);

}

.sublinhado, li, a{
    text-decoration: none;
    color:  white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

    
}

.meio{
    display: flex;
    flex-direction: row;
}





.nome{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    margin-left: 5%;
    background-color: rgb(32, 128, 128);
    width: 200px;
    padding-left: 50px;
    padding-bottom: 30px;
}
